In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

### Model Creation

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 



grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(indep, dep)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [10]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
# grid_predictions = grid.predict(X_test) 
   
# print classification report 
# from sklearn.metrics import r2_score
# r_score=r2_score(dep,grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'best'}:

In [11]:
table=pd.DataFrame.from_dict(re)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.014926,0.001533,0.004824,0.000986,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.720083,0.657981,0.737975,0.731909,0.664137,0.702417,0.034311,6
1,0.023315,0.012311,0.008619,0.005905,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.710520,0.622965,0.674469,0.670771,0.691975,0.674140,0.029230,11
2,0.026722,0.003228,0.014896,0.004715,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.752097,0.682180,0.691449,0.721127,0.678372,0.705045,0.027899,4
3,0.037418,0.019752,0.018979,0.006673,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.680507,0.610734,0.639902,0.614930,0.581946,0.625604,0.033045,17
4,0.057995,0.015029,0.031103,0.016628,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.728814,0.629143,0.637798,0.742156,0.692469,0.686076,0.046010,9
5,0.051411,0.033428,0.016796,0.008800,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.619874,0.492064,0.556512,0.745618,0.552775,0.593369,0.086199,18
6,0.330775,0.017755,0.013404,0.004345,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.711740,0.587675,0.716207,0.722608,0.753749,0.698396,0.057279,7
7,0.248391,0.018727,0.011793,0.002200,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.737998,0.649644,0.738645,0.687067,0.750010,0.712673,0.038310,2
8,0.176938,0.012106,0.014613,0.004141,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.591940,0.496999,0.739409,0.617898,0.747513,0.638752,0.094532,16
9,0.153194,0.025865,0.014861,0.002905,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.748435,0.611310,0.680593,0.717415,0.649407,0.681432,0.048431,10
10,0.166985,0.011585,0.013453,0.004952,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.676867,0.581636,0.704530,0.667993,0.736971,0.673599,0.051908,13
11,0.145526,0.016460,0.012598,0.001606,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.738004,0.591527,0.794284,0.731386,0.670145,0.705069,0.069062,3
12,0.040670,0.008330,0.016220,0.004293,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.716880,0.643261,0.728563,0.703509,0.677960,0.694035,0.030464,8
13,0.027590,0.001840,0.011822,0.002435,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.615016,0.618168,0.701338,0.704890,0.730634,0.674009,0.047969,12
14,0.029692,0.005545,0.015731,0.003742,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.737746,0.663579,0.754647,0.729240,0.725197,0.722082,0.030950,1
15,0.025000,0.004725,0.010610,0.004011,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.633837,0.589552,0.634757,0.679796,0.695164,0.646621,0.037465,15
16,0.029383,0.001459,0.015826,0.003370,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.749727,0.649244,0.735765,0.663794,0.724067,0.704519,0.040289,5
17,0.022147,0.005477,0.009438,0.001448,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.731969,0.573078,0.608221,0.707598,0.645847,0.653343,0.059431,14

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:24
BMI:27
Children:0
Sex Male 0 or 1:0
Smoker Yes 0 or 1:0

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[3046.062]